RewriteEngine On
RewriteBase /

#only for the root directory
RewriteCond %{REQUEST_URI} ^/$
#if the uri is not already index.php
RewriteCond %{REQUEST_URI} !^/index.php [NC]
RewriteRule ^$ /index.php    [R=301,L]

RewriteCond %{REQUEST_URI} !^/doc($|/)
RewriteCond %{REQUEST_URI} !^/API($|/)
RewriteRule ^([^/\.]+)/?$ /index.php?s=$1 [QSA]
RewriteCond %{REQUEST_URI} !^/doc($|/)
RewriteCond %{REQUEST_URI} !^/API($|/)
RewriteRule ^([^/\.]+)/([^/\.]+)/?$ /index.php?s=$1&q=$2 [QSA]
RewriteCond %{REQUEST_URI} !^/doc($|/)
RewriteCond %{REQUEST_URI} !^/API($|/)
RewriteRule ^([^/\.]+)/([^/\.]+)/([^\./]+)/?$ /index.php?s=$1&q=$2&id=$3 [QSA]

RewriteCond %{REQUEST_URI} ^/API/Semantic_data($|/)
RewriteRule ^(.*) API/semantic_data.php